<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="box2">
        <div class="content">
          {{!-- <form action="/login" method="post"> --}}
            <div class="image-box">
              <img src="images/user.svg" alt="image" />
            </div>
            <div class="user-info">
              <h2>@{{username}}</h2>
              <h3>{{bio}}</h3>
              <h3>{{email}}</h3>
              <h3>Followers : 1000</h3>
            </div>
            {{!-- <div class="button">
              <button value="logout">Logout</button>
            </div> --}}
          {{!-- </form> --}}
        </div>
      </div>
    </div>
  </body>
</html>